{% extends 'base.html' %}

{% block body %}
<h4>Create Show</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col align-self-center">
                <div class="list-group" id="list-tab" role="tablist">

                    <a class="" id="list-episode-name-list" data-toggle="list" href="#list-episode-name" role="tab">
                        <label for="{{ form.name.id_for_label }}">Episode Name</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">

                    </a>
                    <div class="fieldWrapper">
                    {{ form.name.errors }}
                    {{ form.name }}
                    </div>
                    <br>

                    <a class="" id="list-description-name-list" data-toggle="list" href="#list-episode-description" role="tab">
                        <label for="{{ form.description.id_for_label }}">Episode Description</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper">
                        {{ form.description.errors }}
                        {{ form.description }}
                    </div>
                    <br>

                    <a class="" id="list-summary-list" data-toggle="list" href="#list-summary" role="tab">
                        <label for="{{ form.summary.id_for_label }}">Episode Summary</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                     <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.summary.errors }}
                        {{ form.summary }}
                    </div>
                    <br>

                    <a class="" id="list-explict_rating-list" data-toggle="list" href="#list-explict_rating" role="tab">
                        <label for="{{ form.explict_rating.id_for_label }}">Rating:</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.explict_rating.errors }}
                        {{ form.explict_rating }}
                    </div>
                    <br>

                    <a class="" id="list-episode_type-list" data-toggle="list" href="#list-episode_type" role="tab">
                        <label for="{{ form.episode_type.id_for_label }}">Episode Type</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.episode_type.errors }}
                        {{ form.episode_type }}
                    </div>
                    <br>

                    <a class="" id="list-season_number-list" data-toggle="list" href="#list-season_number" role="tab">
                        <label for="{{ form.season_number.id_for_label }}">Show Name</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.season_number.errors }}
                        {{ form.season_number }}
                    </div>
                    <br>


                    <a class="" id="list-episode_number-list" data-toggle="list" href="#list-episode_number" role="tab">
                        <label for="{{ form.episode_number.id_for_label }}">Show Name</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.episode_number.errors }}
                        {{ form.episode_number }}
                    </div>
                    <br>

                    <a class="" id="list-release_date-list" data-toggle="list" href="#list-release_date" role="tab">
                        <label for="{{ form.release_date.id_for_label }}">Show Name</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.release_date.errors }}
                        {{ form.release_date }}
                    </div>
                    <br>

                    <a class="" id="list-published-list" data-toggle="list" href="#list-published" role="tab">
                        <label for="{{ form.published.id_for_label }}">Published: </label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.published.errors }}
                        {{ form.published }}
                    </div>
                    <br>


                    <a class="" id="list-icon-list" data-toggle="list" href="#list-icon" role="tab">
                        <label for="{{ form.icon.id_for_label }}">Episode Thumbnail</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.icon.errors }}
                        {{ form.icon }}
                    </div>
                    <br>


                    <a class="" id="list-audio-list" data-toggle="list" href="#list-audio" role="tab">
                        <label for="{{ form.audio.id_for_label }}">Episode Audio</label>
                        <img src="../../static/manage/img/info-circle-fill.svg" alt="Tips for naming show." width="16" height="16">
                    </a>
                    <div class="fieldWrapper" onclick="displayTipPanel()">
                        {{ form.audio.errors }}
                        {{ form.audio }}
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="sticky-top">
                        <br>
                        <br>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade" id="list-episode-name" role="tabpanel">
                                {% include 'episode_name.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-episode-description" role="tabpanel">
                                {% include 'episode_description.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-summary" role="tabpanel">
                                {% include 'episode_summary.html' %}
                            </div>
                            <div class="tab-pane fade" id="list-explict_rating" role="tabpanel">
                                {% include 'episode_explicit.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-episode_type" role="tabpanel">
                                {% include 'episode_type.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-season_number" role="tabpanel">
                                {% include 'episode_season_number.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-episode_number" role="tabpanel">
                                {% include 'episode_episode_number.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-release_date" role="tabpanel">
                                {% include 'episode_release_date.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-published" role="tabpanel">
                                {% include 'episode_published.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-icon" role="tabpanel">
                                {% include 'episode_icon.html' %}
                            </div>

                            <div class="tab-pane fade" id="list-audio" role="tabpanel">
                                {% include 'episode_audio.html' %}
                            </div>

                        </div>

                    </div>
            </div>
        </div>    <br>
        <button>Submit Show</button>
        <br>
    </form>
{% endblock %}
