{% extends 'base.html' %}

{% block body %}
<h3>Profile Page</h3>

<a class="btn btn-dark mb-2" href="{% url 'subscriptions' %}">Manage Subscriptions</a>
<br>
<a class="btn btn-dark mb-2" href="{% url 'manage_show_create' %}">Create a new show!</a>

<br>
<h5>Shows</h5>
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <div class="table-responsive-sm table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Show</th>
                </tr>
            </thead>
            <tbody>
                {% for show in shows %}
                <tr>
                    <td>
                        <img src="{{show.get_absolute_image_url}}" alt="..." width="124" height="124">
                    </td>
                    <td>
                        <a class="btn btn-outline-dark mb-2" href="{% url 'manage_show_detail' pk_id=show.id %}">{{show.show_name}}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>
    </div>
</main>
{% endblock %}