{% extends 'base.html' %}

{% block body %}
<h4>{{show.show_name}}</h4>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="mb-2" src="{{show.get_absolute_image_url}}" alt="..." width="124" height="124">
            <h5>Episodes</h5>
           {% for ep in episode %}
            <br>
            <a class="btn btn-outline-dark mb-2" href="{% url 'manage_episode_detail' pk_id=ep.id %}">{{ep.name}}</a>

            {% endfor %}
        </div>
        <div class="col">
            <h5>Manage</h5>
             <a class="btn btn-dark mb-2" href="{% url 'feed' pk_id=show.id %}">Rss Feed</a>
            <br>
            <a class="btn btn-dark mb-2" href="{% url 'show_metric' pk_id=show.id %}">Show Metrics</a>
            <br>
            <a class="btn btn-dark mb-2" href="{{show_site}}">Website</a>
            <br>
            <a class="btn btn-dark mb-2" href="{% url 'manage_episode_create' pk_id=show.id %}">Create a new episode!</a>
            <br>
            <a class="btn btn-dark mb-2" href="{{edit_show_site}}">Edit Website</a>
            <br>
            <a class="btn btn-dark mb-2" href="{% url 'manage_show_edit' pk=show.id %}">Edit Show!</a>
            <br>
            <a class="btn btn-dark mb-2" href="{% url 'manage_show_delete' pk_id=show.id %}">Delete Show!</a>
        </div>
    </div>
</div>

{% endblock %}