<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a062562745.js" crossorigin="anonymous"></script>
    <title>Show Website</title>
    <link rel=stylesheet href="../../static/shows_frontend/css/audio.css" media=all>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body>

<audio id="myAudio" ontimeupdate="onTimeUpdate()">
  <!-- <source src="audio.ogg" type="audio/ogg"> -->
  <source id="source-audio" src="" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <img src="{{show.get_absolute_image_url}}" alt="..." class="img-thumbnail" width="245" height="256">
      <p>
        {{show.show_name}}
      </p>
      <p>
        {{show.show_author|safe}}
      </p>
      <p>
        {{show.description|safe}}
      </p>
      <div class="container">
        <div class="row">
          <div class="col">
            {% load static %}
            {% if show.facebook_username != "" %}
            <a href="{% url 'fb_redirect' pk_id=show.id %}">
                <img src="{% static 'img/facebook.png' %}" alt="My image"
                width="32" height="32">
                {{show.facebook_username}} 
            </a>
            {% endif %}
            &nbsp;
            {% if show.twitter_username != "" %}
            <a href="{% url 'twitter_redirect' pk_id=show.id %}">
                <img src="{% static 'img/twitter.png' %}" alt="My image"
                width="32" height="32">
                {{show.twitter_username}} 
            </a>
            {% endif %}
            <br>
            {% if show.instagram_username != "" %}
            <a href="{% url 'insta_redirect' pk_id=show.id %}">
                <img src="{% static 'img/instagram.png' %}" alt="My image"
                width="32" height="32">
                {{show.instagram_username}} 
            </a>
            {% endif %}
            &nbsp;
            {% if show.tiktok_username != "" %}
            <a href="{% url 'tiktok_redirect' pk_id=show.id %}">
                <img src="{% static 'img/tiktok.png' %}" alt="My image"
                width="32" height="32">
                {{show.tiktok_username}} 
            </a>
            {% endif %}
            <br>
            {% if show.youtube_username != "" %}
            <a href="{% url 'youtube_redirect' pk_id=show.id %}">
                <img src="{% static 'img/youtube.png' %}" alt="My image"
                width="32" height="32">
                {{show.youtube_username}} 
            </a>
            {% endif %}
            &nbsp;
            {% if show.reddit_username != "" %}
            <a href="{% url 'reddit_redirect' pk_id=show.id %}">
                <img src="{% static 'img/reddit.png' %}" alt="My image"
                width="32" height="32">
                {{show.reddit_username}} 
            </a>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="playlist-ctn"></div>
    <div class="col">
      df
    </div>
    </div>
  </div>
</div>




<div class="player-ctn sticky">
  <div class="infos-ctn">
    <div class="timer">00:00</div>
    <div class="title"></div>
    <div class="duration">00:00</div>
  </div>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
  <div class="btn-ctn">
     <div class="btn-action first-btn" onclick="previous()">
        <div id="btn-faws-back">
          <i class='fas fa-step-backward'></i>
        </div>
     </div>
     <div class="btn-action" onclick="rewind()">
        <div id="btn-faws-rewind">
          <i class='fas fa-backward'></i>
        </div>
     </div>
     <div class="btn-action" onclick="toggleAudio()">
        <div id="btn-faws-play-pause">
          <i class='fas fa-play' id="icon-play"></i>
          <i class='fas fa-pause' id="icon-pause" style="display: none"></i>
        </div>
     </div>
     <div class="btn-play" onclick="forward()">
        <div id="btn-faws-forward">
          <i class='fas fa-forward'></i>
        </div>
     </div>
     <div class="btn-action" onclick="next()">
        <div id="btn-faws-next">
          <i class='fas fa-step-forward'></i>
        </div>
     </div>
     <div class="btn-mute" id="toggleMute" onclick="toggleMute()">
        <div id="btn-faws-volume">
          <i id="icon-vol-up" class='fas fa-volume-up'></i>
          <i id="icon-vol-mute" class='fas fa-volume-mute' style="display: none"></i>
        </div>
     </div>
  </div>
</div>
    <script>
      var name_l = JSON.parse("{{name|escapejs}}")
      var url_l = JSON.parse("{{url|escapejs}}")
      var duration_l = JSON.parse("{{duration|escapejs}}")
      var listAudio = []
      
      for(let i in name_l){

        listAudio.push({ name: name_l[i], file: url_l[i], duration: duration_l[i]  })
      }
      console.log("listAudio")
      console.log(listAudio)
    </script>
    <script src=../../static/shows_frontend/js/audio.js></script>
  </body>
</html>
